{% extends 'pages/index.html' %}
{% load static %}

{% block title %}<title>customer profile</title> {% endblock title %} 

{% block content %}

<h2 class="profile">profile</h2>
<div class="cus_div">
    <div class="cus_row">
        
        <div class="u_pro">
            <p class="PRO_img"><img src="{% get_static_prefix %}images\sign-up-member-icon-isolated-orange-round-button-abstract-illustration-sign-up-member-icon-orange-round-button-104804549-removebg-preview (1).png" width="50px" alt=""></p>
            <h1 class="wel">Welcome <span>{{request.user|capfirst}}</span></h1>
            {% if messages %}
                        {% for message in messages %}
                            
                                <h3 {% if message.tags %} class="{{message.tags}}" {% endif %} >{{message}} </h3>
                                    
                            
                        {% endfor %}
                        {% else %}
                        {% endif %}

            <p class="wel_add"><a href="{% url 'address' %}">Address</a></p>
            <p class="wel_add"><a href="{% url 'order' %}">My Orders</a></p>
            <div class="cart_button info">
                <button class="red"><a href="{% url 'logout' %}">Log Out</a></button>
            </div>
            <a  href="{% url 'passchange' %}"> <span class="green" ></span> change password</a>
            
        </div>
        <!-- form of address -->
        <div class="main_form" >
            <div class="form_box cus" >
                <div class="form_col " >
                        
                    <h3 class="address">Add an address</h3>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for forms in form %}
                        <div class="box">
                            <p class="user">{{forms.label_tag}}</p>
                            {{forms}}
                            <small>{{forms.errors}}</small>
                        </div>
                        {% endfor %}
                        <div class="box btn"  >
                            <input type="submit" value="Save"  >
                        </div>
                    </form>
                    <a  href="{% url 'signup' %}"> <span class="green" >New User?</span> signup</a>
                    {% if form.non_field_errors %}
                    {% for error in non_field_errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block newfooter %}

<div class="new_footer">
    <h4 class="foot">Copyright &#xA9; 2022 Developed By Devendra || </h4>
</div>

{% endblock newfooter %}
