{% extends 'pages/index.html' %}
{% load static %}

{% block title %}<title>prduct-detail</title> {% endblock title %} 

{% comment %} {% block info %}
<h1>pass</h1>
{% endblock info %} {% endcomment %}


{% block product-detail %}
<section>
    
    <div class="main_cart" style="display:flex;align-items:center;justify-content:center">
        
        <a href="{% url 'product-detail' product.id %}">
            <div class="cart_row">
                <div class="cart_img">
                    <img src="{{product.product_image.url}}" alt="">
                    <!-- <span>{{product.id}}</span> -->
                    <div class="cart_button">
                        <form action="/cart">
                            <input type="hidden" name="prod_id" id="prod_id" value="{{product.id}}">
                            <button type="submit" class="yellow">Cart</button>

                        </form>
                        <button><a href="">Buy</a></button>
                    </div>
                </div>
                <div class="cart_detail">
                    {% if product.discounted_price > 15000.0 %}
                    <p class="best_seller"><span>Best Seller </span></p>
                    {% else %}
                    <p class="best_seller"> Hurry Up ! </p>
                    {% endif %}
                    <h1 class="pro_h1">product details</h1>
                    <hr>
                    <h3 class="pro_title">{{product.title}}</h3>
                    <h4>{{product.description}}</h4>
                    <span class="price_tag">Rs.{{product.discounted_price}}</span> <strike>{{product.selling_price}}</strike>  <span class="pro_offer">offers</span>
                    
                    <h2>{{product.brand}}</h2>

                    <div class="avail_offer">
                        <h3>Availabel Offers</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicin .</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicinbore? .</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicinbore? .</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicinbore? .</li>
                            
                        </ul>
                    </div>
                    
                </div>
            </div>
        </a>
    </div>
</section>
{% endblock product-detail %}

<h1>plese select an item</h1>



<!-- all product -->
{% block allproduct %}
<section>
    <div class="item_cat">
        <h1>Electronics Items</h1>
    </div>
    <hr>
    <div class="owl-carousel owl-theme" id="slider1">
        {% for e in elec %}
        <div class="item">
            <a href="{% url 'product-detail' e.id %}">
                <div class="product-card" >
                    {% if e.discounted_price > 19000.0 %}
                    <p class="hurry_up"> Hurry Up ! </p>
                    {% else %}
                    <p class="best_seller"><span>Best Seller </span></p>
                    {% endif %}
                    <img src="{{e.product_image.url}}" alt="" >
                    <h2>{{e.title}}</h2>
                    <p>{{e.description}}</p>
                    <h4 class="price">Rs. {{e.discounted_price}}</h4>
                    {% if e.discounted_price > 17799.0 %}
                        <p class="offer">Off:56%</p></span>
                        <span class="price_cut"> <strike> Rs.1399</strike></span>
                        <br>
                    {% else %}
                        <span class="no_offers">no offers</span>
                    {% endif %}
                    {% comment %} <p class="offer">Off:56%</p></span> {% endcomment %}
                    <div>
                        <button>Add To Cart</button>
                        <button>Buy Now</button>
                    </div>
                </div>
                
            </a>
        </div>
        {% endfor %}
    
    </div>

</section>

<section  >
    <div class="item_cat">
        <h1>sports Items</h1>
    </div>
    <hr>
    <div class="owl-carousel owl-theme" id="slider2">
        {% for s in sports %}
        <div class="item">
            <a href="{% url 'product-detail' s.id %}">
                <div class="product-card" >
                    {% if s.discounted_price > 900.0 %}
                    <p class="hurry_up"> Hurry Up ! </p>
                    {% else %}
                    <p class="best_seller"><span>Best Seller </span></p>
                    {% endif %}
                    <img src="{{s.product_image.url}}" alt="" >
                    <h2>{{s.title}}</h2>
                    <p>{{s.description}}</p>
                    <h4 class="price">Rs. {{s.discounted_price}}</h4>
                    {% if s.discounted_price > 900.0 %}
                    <p class="offer">Off:56%</p></span>
                    {% else %}
                    <span  class="no_offers">no offers</span>
                    {% endif %}
                    <div>
                        <button>Add To Cart</button>
                        <button>Buy Now</button>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    
    </div>
   
        
</section>


<section  >
    <div class="item_cat">
        <h1>Womens Items</h1>
    </div>
    <hr>
        
    <div class="owl-carousel owl-theme" id="slider3" >
        {% for w in womens %}
        
        <div class="item" >
            <a href="{% url 'product-detail' w.id %}">
                <div class="product-card" >
                    {% if w.discounted_price < 1900.0 %}
                    <p class="hurry_up"> Hurry Up ! </p>
                    {% else %}
                    <p class="best_seller"><span>Best Seller </span></p>
                    {% endif %}
                    <img src="{{w.product_image.url}}" alt="" >
                    <h2>{{w.title}}</h2>
                    <p>{{w.description|truncatewords:5}}</p>
                    <h4 class="price">Rs. {{w.discounted_price}}</h4>
                    {% if w.discounted_price > 199.0 %}
                        <p class="offer">Off:56%</p></span>
                        <span class="price_cut"> <strike> Rs.1399</strike></span>
                    {% else %}
                    <span  class="no_offers">no offers</span>
                    {% endif %}
                    <div>
                        <button>Add To Cart</button>
                        <button>Buy Now</button>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    
    </div>
        
</section>
{% endblock allproduct %}



{% block mainfooter %}{% endblock mainfooter %}

{% block newfooter %}
<div class="new_footer">
    <h4 class="foot">Copyright &#xA9; 2022 Developed By Devendra || </h4>
</div>
{% endblock newfooter %}

